section.s-card.s-page
  .container
    h2.s-title.s-card__title Системный блок Lenovo Legion T530-28ICB (90JL007ARS)
    .card
      a(href="#").link_back Вернуться в каталог
      .card__item
        .card__img
          ul.card__img__list
            li
              a(href="#")
                img(src="../img/product.jpg")
            li
              a(href="#")
                img(src="../img/product.jpg")
            li
              a(href="#")
                img(src="../img/product.jpg")
          img(src="../img/product.jpg").card__img_main
        .card__info
          .card__info__count
            span.product__count 8950Р
            button.product__btn
              i.fa.fa-shopping-basket
          ul.card__info__list
            li
              b Рейтинг товара:
              ul.product__stars
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
            li
              b Краткое описание:
              p Системный блок Lenovo Legion T530-28ICB (90JL007ARS) по доступной цене.
            li
              b Доставка по России - бесплатно.
              p При заказе на сумму от 35000 руб.
            li
              b Самовывоз производится по адресу:
              p г. Казань, ул. Академика Кирпичникова д.21/14
          ul.card__info__link
            li
              a(href="#") Заказать бесплатную консультацию по товару  
            li
              a(href="#") Нашли дешевле? Снизим цену!
      .card__desc
        ul#product-accordion-tabs.card__tabs.tabs
          li.card__tabs__title.is-active
            a(href="#product-tab-1")#product-tab-1-label Характеристики
          li.card__tabs__title
            a(href="#product-tab-2")#product-tab-2-label Отзывы
          li.card__tabs__title
            a(href="#product-tab-3")#product-tab-3-label Сертификаты
        ul.product-accordion-tabs-content.card__tabs-content.tabs-content
          li#product-tab-1.product-accordion-tabs-item.tabs-panel.is-active
            table.card__table
              th Серия модели
              tr
                TD Серия
                TD Legin T
              tr
                TD Модель
                TD T530-28ICB/90JL007ARS
              th Операционная система
              tr
                TD Операционная система
                TD Windows 10 Домашняя 64
              th Процессор
              tr
                TD Производитель процессора
                TD Legin T
              tr
                TD Тип процессора
                TD T530-28ICB/90JL007ARS
              tr
                td Количество ядер
                td 
              th Серия модели
              tr
                TD Серия
                TD Legin T
              tr
                TD Модель
                TD T530-28ICB/90JL007ARS
              th Операционная система
              tr
                TD Операционная система
                TD Windows 10 Домашняя 64
              th Процессор
              tr
                TD Производитель процессора
                TD Legin T
              tr
                TD Тип процессора
                TD T530-28ICB/90JL007ARS
              tr
                td Количество ядер
                td 
              th Серия модели
              tr
                TD Серия
                TD Legin T
              tr
                TD Модель
                TD T530-28ICB/90JL007ARS
          li#product-tab-2.product-accordion-tabs-item.tabs-panel
            ul.feedback__list
              li.feedback__item
                img(src="img/feedback.png")
                .feedback__info
                  span.feedback__name Аркадий
                    b.feedback__date 5.12.18
                  ul.feedback__mark
                    li  Внешний вид
                      ul.product__stars
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                    li  Надежность
                      ul.product__stars
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                    li  Функциональность
                      ul.product__stars
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                  p.feedback__text
                    b Плюс
                    | Достаточная производительность для высоких/средних настроек. Все готово к работе, только подключи монитор. Нормальный дизайн. 
                  p.feedback__text
                    b Минус
                    | Достаточная производительность для высоких/средних настроек. Все готово к работе, только подключи монитор. Нормальный дизайн. 
              li.feedback__item
                img(src="img/feedback.png")
                .feedback__info
                  span.feedback__name Аркадий
                    b.feedback__date 5.12.18
                  ul.feedback__mark
                    li  Внешний вид
                      ul.product__stars
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                    li  Надежность
                      ul.product__stars
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                    li  Функциональность
                      ul.product__stars
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                        li
                          i.fa.fa-star
                  p.feedback__text
                    b Плюс
                    | Достаточная производительность для высоких/средних настроек. Все готово к работе, только подключи монитор. Нормальный дизайн. 
                  p.feedback__text
                    b Минус
                    | Достаточная производительность для высоких/средних настроек. Все готово к работе, только подключи монитор. Нормальный дизайн.
            button.feedback__btn  Написать отзыв
          li#product-tab-3.product-accordion-tabs-item.tabs-panel
            ul.certificate__list
              li.certificate__item
                img(src="img/certificate.jpg")
              li.certificate__item
                img(src="img/certificate.jpg")
          
