.filter__mobile
  .filter__mobile__wrap
    .container
      .filter__mobile__btn
        span
          +sprite("catalog__bars", "settings")
          | Фильтры
        +sprite("catalog__carret", "caret-down-solid")
  ul.catalog__filter__mobile.catalog__filter-list
    li.has-sub
      a(href="#") По рейтингу
      ul.sub-filter
        li 1
        li 1412
        li 42
    li.has-sub
      a(href="#") По цене
      ul.sub-filter
        li 1
        li 1412
        li 42
    li.has-sub
      a(href="#") Тип корпуса
      ul.sub-filter
        li 1
        li 1412
        li 42
    li.has-sub
      a(href="#") Тип процессора
    li.has-sub
      a(href="#") Оперативная память
    li.has-sub
      a(href="#") Видеокарта
    li.has-sub
      a(href="#") Жесткий диск
    li.has-sub
      a(href="#") Привод
    li.has-sub
      a(href="#") USB
    li.has-sub
      a(href="#") Блок питания
    li.has-sub
      a(href="#") Вебкамера
    li.has-sub
      a(href="#") Поддержка 3D
    li.has-sub
      a(href="#") Гарантия
section.s-page.s-catalog
  .container
    h2.s-title Компьютерная техника
    .catalog__wrap
      include ../components/products
      ul.catalog__filter-list
        li.has-sub
          a(href="#") По рейтингу
          ul.sub-filter
            li 1
            li 1412
            li 42
        li.has-sub
          a(href="#") По цене
          ul.sub-filter
            li 1
            li 1412
            li 42
        li.has-sub
          a(href="#") Тип корпуса
          ul.sub-filter
            li 1
            li 1412
            li 42
        li.has-sub
          a(href="#") Тип процессора
        li.has-sub
          a(href="#") Оперативная память
        li.has-sub
          a(href="#") Видеокарта
        li.has-sub
          a(href="#") Жесткий диск
        li.has-sub
          a(href="#") Привод
        li.has-sub
          a(href="#") USB
        li.has-sub
          a(href="#") Блок питания
        li.has-sub
          a(href="#") Вебкамера
        li.has-sub
          a(href="#") Поддержка 3D
        li.has-sub
          a(href="#") Гарантия
