section
  .container
    h2.s-title Продажа средств вычислительной техники и расходных материалов
    <iframe width="100%" height="515" src="https://www.youtube.com/embed/3gpljA0uhgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .company
      .company__info
        h2.news__title о компании
        p ООО «ТСЦ «ИнтерТех» - динамично развивающаяся компания в сфере информационных технологий. Наша компания берет свое начало c 2010 годa. Мы занимаемся разработкой проектов и последующей поставкой оборудования заказчику.
        p Компания обладает собственным производством сертифицированных системных блоков, моноблоков, серверного оборудования и является активным участником тендеров.
        p Наши клиенты – крупные промышленные и государственные предприятия Республики Татарстан и Российской Федерации.
      .company__img
        img(src="img/company.png")
    h2.news__title.certificate__title сертификаты
    .certificates.swiper-container
      .swiper-wrapper
        a(href="img/certificate.jpg" rel="g1" data-fancybox="group").swiper-slide
          img(src="img/certificate.jpg")
        a(href="img/certificate.jpg" rel="g1" data-fancybox="group").swiper-slide
          img(src="img/certificate.jpg")
        a(href="img/certificate.jpg" rel="g1" data-fancybox="group").swiper-slide
          img(src="img/certificate.jpg")
        a(href="img/certificate.jpg" rel="g1" data-fancybox="group").swiper-slide
          img(src="img/certificate.jpg")
        a(href="img/certificate.jpg" rel="g1" data-fancybox="group").swiper-slide
          img(src="img/certificate.jpg")
      .swiper-nav
        i.fa.fa-angle-left
        i.fa.fa-angle-right
    .company__partners
      .company__partners__header
        h2.news__title.partners__title Наши партнеры и поставщики
        span Являемся поставщикам оборудования и расходных материалов известных мировых брендов.
      ul
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
        li
          a(href="#")
            img(src="img/amd.png")
