section
  .container
    h2.s-title Наши контакты
    a(href="#").link_back Вернуться на главную
    ul.contact__list
      li
        b Адрес:
        | Россия, Республика Татарстан, Казань, улица Академика Кирпичникова, 21/14
      li
        b Телефон:
        span 8 (000) 000-00-00
        span 8 (000) 000-00-00
      li
        b Эл. почта:
        | info@post.ru
    .map#YMapsID
    h2.s-title Мы можем вам позвонить
    form.call__form
      .call__form__wrap
        input(type="text" placeholder="Ваше имя")
        input(type="text" placeholder="Ваш телефон")
      button(type="submit").feedback__btn Отправить заявку на обратный звонок
