section
  .container
    h2.s-title.s-card__title Новости компании и отрасли
    .news
      h2.news__title Новости компании
      ul.news__list
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
      h2.news__title Новости отрасли
      ul.news__list
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
        li.news__item
          a(href="#")
            img(src="img/news.jpg")
          h3.news__item__title 
            a(href="#") Переход на новую ставку НДС в 2019 году
          p.news__text С 1 января 2019 года нам предстоит увеличение ставки НДС с 18 до 20 процентов (Федеральный закон от...
