@font-face {
  font-family: Intro-bold;
  src: url(../../fonts/Intro-Bold.otf);
}

@font-face {
  font-family: Intro-book;
  src: url(../../fonts/Intro-Book.otf);
}

@font-face {
  font-family: Roboto-black;
  src: url(../../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-regular;
  src: url(../../fonts/Roboto-Regular.ttf);
}
