ul.product__list
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
  li.product__item
    a(href="#")
      img(src="../../img/product.jpg")
    h4.product__title 
      a(href="#") МФУ XEROX, марка товара, и другая информация
    ul.product__stars
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
      li
        i.fa.fa-star
    .product__count-block
      span.product__count 8950Р
        b.product__count.crossed 16800Р
      button.product__btn
        i.fa.fa-shopping-basket(aria-hidden="true")
